<div id="<%= dom_id task %>">
        <tr id="<%= dom_id task %>">
          <td><%= task.name %></td>
          <td>
              <%= Project.find_by(id: task.project_id)&.title || "No project" %>
          </td>
          <td>
            <button id="start<%= task.id %>" data-task-id="<%= task.id %>" class="btn btn-success">
              Start
            </button>
            <button id="end<%= task.id %>" data-task-id="<%= task.id %>" class="btn btn-primary in-active">
              Stop
            </button>
              <%= button_to "Delete", "/tasks/#{task.id}", method: :delete, class: "btn btn-danger" %>            
          </td>
          <td><%= task.startAt.strftime("%I:%M %p") %></td>
          <td><%= task.endAt.strftime("%I:%M %p") %></td>
          <td>
            <span id="timer<%= task.id %>">00:00:00</span>
          </td>
        </tr>
</div>



<style>
  .in-active{
    display: none
  }
  .button_to{
    display: inline-block !important
  }
</style>



<script>
  var intervalId<%= task.id %>;
  var startAt = Date.now()
  var seconds<%= task.id %> = <%= task.seconds %>

  var kickOff = (taskId, taskSeconds)=>{
        hour = Math.floor(taskSeconds / 3600);
        hour = hour < 10  ? "0" + hour  : hour

        minute = Math.floor((taskSeconds - hour * 3600) / 60);
        minute = minute < 10  ? "0" + minute  : minute

        updSecond = taskSeconds - (hour * 3600 + minute * 60);
        updSecond = updSecond < 10  ? "0" + updSecond  : updSecond

      document.getElementById(`timer${taskId}`).innerHTML = hour + ":" + minute + ":" + updSecond;
  }
  kickOff(<%= task.id %>, seconds<%= task.id %>)



  var startTime = (taskId, taskStatus)=>{
    // Check if there is a task is running
    document.addEventListener('DOMContentLoaded', function() {
    var updateTaskButton = document.getElementById(`start${taskId}`);
    var endButton = document.getElementById(`end${taskId}`);

    updateTaskButton.addEventListener('click', function() {
      if(userTasks(taskId))
        return
      // Set the task is running
      changeStatus(taskId, true);
        this.classList.add('in-active');
        endButton.classList.remove('in-active');
      // Counting
      startAt = Date.now()
      intervalId<%= task.id %> = setInterval(() => {
        ++seconds<%= task.id %>;
        kickOff(taskId, seconds<%= task.id %>)
      }, 1000);
    });
    if(taskStatus === true){
        updateTaskButton.click()

    }
  });
  }

var endTime = (taskId)=>{
    document.addEventListener('DOMContentLoaded', function() {
    var updateTaskButton = document.getElementById(`end${taskId}`);
    var startButton = document.getElementById(`start${taskId}`);
      
    updateTaskButton.addEventListener('click', function() {
        this.classList.add('in-active');
        startButton.classList.remove('in-active');
      updateTask(taskId, false, seconds<%= task.id %>)
      clearInterval(intervalId<%= task.id %>);
      location.reload();       
    })
    })

}
var changeStatus = (taskId, status)=>{
      var xhr = new XMLHttpRequest();
      xhr.open('PATCH', '/tasks/' + taskId);
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.setRequestHeader('X-CSRF-Token', '<%= form_authenticity_token.to_s %>');
      
      xhr.onload = function() {
        if (xhr.status === 200) {
          var response = JSON.parse(xhr.responseText);
          console.log(response);
        } else {
          console.error(xhr.statusText);
        }
      };

      xhr.onerror = function() {
        console.error(xhr.statusText);
      };
      var data = {
          task: {
            status: status,
          }
};
var jsonData = JSON.stringify(data);
      xhr.send(jsonData);
}

var userTasks = function (taskId) {
  var xhr = new XMLHttpRequest();
  xhr.open('GET', '/tasks/index_json', false);
  xhr.setRequestHeader('Content-Type', 'application/json');
  xhr.setRequestHeader('X-CSRF-Token', '<%= form_authenticity_token.to_s %>');

  xhr.send();

  if (xhr.status === 200) {
    var tasks = JSON.parse(xhr.responseText);
    // Check if any task has status true
    var hasActiveTask = tasks.some(function (task) {
      return task.status === true && task.id !== taskId;
    });

    return hasActiveTask;
  } else {
    console.error(xhr.statusText);
    return false;
  }
};

var updateTask = (taskId, status, time)=>{
      var xhr = new XMLHttpRequest();
      xhr.open('PATCH', '/tasks/' + taskId);
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.setRequestHeader('X-CSRF-Token', '<%= form_authenticity_token.to_s %>');
      
      xhr.onload = function() {
        if (xhr.status === 200) {
          var response = JSON.parse(xhr.responseText);
          console.log(response);
        } else {
          console.error(xhr.statusText);
        }
      };

      xhr.onerror = function() {
        console.error(xhr.statusText);
      };
      var startSeconds = Math.floor(startAt / 1000);
      var starts = new Date(startSeconds * 1000).toISOString();
      var endSeconds = Math.floor(Date.now() / 1000);
      var ends = new Date(endSeconds * 1000).toISOString();
      var data = {
          task: {
            startAt: starts,
            endAt: ends,
            status: status,
            seconds: time
          }
};
var jsonData = JSON.stringify(data);
      xhr.send(jsonData);
}

startTime(<%= task.id %>, <%= task.status %>)
endTime(<%= task.id %>)

</script>