<%= render partial: 'shared/navbar' %>
    <div class="banner">
        <div class="wrapper">
            <div class="content">
                <h2>Digital Agency</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta, aliquam iure? Hic quisquam provident aut!</p>
                <div class="btn">
                    <a href="#">Learn More</a>
                    <a href="#">Sign up</a>
                </div>                  
            </div>
        </div>
    </div>
<%= render partial: 'application/features' %>
<%= render partial: 'application/subscribe' %>
<%= render partial: 'application/testimonials' %>
<%= render partial: 'shared/footer' %>



<style>

    .banner {
	background-image: url(https://img.freepik.com/free-vector/realistic-summer-background-with-vegetation_23-2148998580.jpg?w=2000);
	height: 75vh;
	background-size: cover;
	background-position: center;
}
.content h2 {
	font-family: alfa slab one;
	color:green;
	font-size: 60px;
}
.content p {
	width: 50%;
	color: rgba(0, 0, 0, 0.6);
	line-height: 2;
}
.btn a {
	text-decoration: none;
	background: green   ;
	padding: 15px 10px;
	display: inline-block;
	color: #fff;
	margin-top: 15px;
	border-radius: 50px;
	width: 130px;
	text-align: center;
}
.wrapper {
	width: 1060px;
	margin: auto;
	padding-top: 12%;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.wrapper {
		width: 75%;
		padding-top: 26%;
	}
	.content {
		text-align: center;
	}
	.content h2 {
		font-size: 60px;
	}
	.content p {
		width: 100%;
	}
}
@media screen and (max-width: 767px) {
	.banner {
		background-position: 60%;
	}
	.wrapper {
		width: 75%;
		padding-top: 26%;
	}
	.content h2 {
		font-size: 25px;
	}
	.content p {
		width: 100%;
	}
	.btn a {
		padding: 9px 4px;
		width: 105px;
	}
}

</style>